@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";


/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	p {
		text-align: justify;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	
	/*MENU-------------------------------------------------------------------------------------------------	*/
			ul#menu {
			 background: #BE6882;
			 width: 100%;
			 float:left;
			 padding: 5px;
			 
			}
			  
			ul#menu li {
			 color: #fff;
			float:left;
			 list-style: none;
			 margin: 0% 5%;
			 
			}
			  
			ul#menu li:hover{
			 color: #B0CC12;
			 cursor:pointer;
			}
			  
			ul#menu ul {
			 display: none;
			 position: absolute;
			 top: 49px;
			 background: #333;
			 color: #fff;
			 padding: 5px 0px 5px 5px;
			 margin: 0;
			 }
			  
			
			 
			 
			ul#menu ul li a{
			 color: #fff;

			}
			  
			ul#menu ul li a:hover{
			 color: #aaa073;
			 cursor:pointer;
			}
			  
			ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
			 display: none;
			 cursor:pointer;
			}
			  
			ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
			 display: block;
			 cursor:pointer;
			}
				
	
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}



/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: #9a9a9a;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}


	strong, b {
		color: #555;
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #5385c1;
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		font-weight: 100;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #dbdbdb;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 0;
		border: solid 1px #dbdbdb;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px #dbdbdb;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}
	
	header .inner {
		background: #BE6882;
		width: 95%;
		max-width: 100em;
		
		
		
		
	}

	.inner {
		max-width: 75em;
		margin: 0 auto;
		
	}
	
	
		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
				
			}

		}

		@media screen and (max-width: 480px) {

			.inner {
				max-width: 85%;
				
			}

		}

		
		
#header 


		
/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

		section.special article, article.special article {
			text-align: justify;
		}

	section.wrapper, article.wrapper {
		padding: 6em 0;
	}

		section.wrapper header, article.wrapper header {
			margin-bottom: 4em;
		}

			section.wrapper header h2, article.wrapper header h2 {
				font-size: 2.75em;
				margin: 0 0 .5em 0;
			}

			section.wrapper header p, article.wrapper header p {
				font-size: 1em;
			}

		section.wrapper article header, article.wrapper article header {
			margin: 0;
		}

		section.wrapper.style1, article.wrapper.style1 {
			background: #5385c1;
			color: #bacee6;
		}

			section.wrapper.style1 header h2, article.wrapper.style1 header h2 {
				color: #fff;
			}

			section.wrapper.style1 header p, article.wrapper.style1 header p {
				color: #bacee6;
			}

			section.wrapper.style1 h3, article.wrapper.style1 h3 {
				color: #FFF;
			}

		@media screen and (max-width: 980px) {

			section.wrapper, article.wrapper {
				padding: 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			section.wrapper header, article.wrapper header {
				margin-bottom: 2em;
			}

				section.wrapper header h2, article.wrapper header h2 {
					font-size: 2em;
				}

				section.wrapper header p, article.wrapper header p {
					font-size: .9em;
				}

		}

		@media screen and (max-width: 480px) {

			section.wrapper, article.wrapper {
				text-align: center;
			}

				section.wrapper article, article.wrapper article {
					text-align: center;
				}

		}

	header p {
		color: #bbb;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}
	
	

/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			position: relative;
			width: 28%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 21%;
		}

		@media screen and (max-width: 980px) {

			.flex.flex-2 article {
				width: 100%;
				margin-bottom: 3em;
			}

				.flex.flex-2 article:last-child {
					margin-bottom: 0;
				}

			.flex.flex-3 {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.flex.flex-3 article {
					width: 100%;
					border-bottom: 1px solid #dbdbdb;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
				}

					.flex.flex-3 article:last-child {
						border: none;
						padding-bottom: 0;
						margin: 0 0 1em 0;
					}

					.flex.flex-3 article:before {
						display: none;
					}

			.flex.flex-4 .box {
				width: 47%;
			}

		}

		@media screen and (max-width: 480px) {

			.flex.flex-4 .box {
				width: 100%;
			}

		}



/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}



		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		


/* Header */

	.subpage {
		padding-top: 44px;
	}

		.subpage #header {
			background: #5385c1;
			top: 0;
			height: 44px;
			line-height: 44px;
			position: fixed;
		}

	#header {
		color: #d4e0ef;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 4em;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		
		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			font-size: .8em;
		}

			#header a:hover {
				color: #ffffff;
			}

			#header a:last-child {
				padding-right: 0;
			}

			#header a.navPanelToggle {
				display: none;
				text-decoration: none;
				height: 4em;
				width: 4em;
				z-index: 10003;
			}

				#header a.navPanelToggle .fa {
					font-size: 1.25em;
				}

				@media screen and (max-width: 980px) {

					#header a.navPanelToggle {
						display: inline-block;
					}

				}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 980px) {

		#header {
			top: 3em;
			height: 44px;
			line-height: 44px;
		}

	}

	@media screen and (max-width: 736px) {

		#header {
			top: 2em;
		}

	}

	@media screen and (max-width: 480px) {

		#header {
			top: 1em;
			min-width: 320px;
		}

	}


/* Banner */

	#banner {
		padding: 18em 0 12em 0;
		background-image: url('../../images/banner1.jpg');
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		border-top: 0.5em solid #5385c1;
	}

		#banner h1 {
			font-size: 3.5em;
			font-weight: 100;
			color: #fff;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1em;
			color: rgba(255, 255, 255, 0.55);
			margin-bottom: 1.75em;
		}

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

			#banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 10em 2em 8em 2em;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 8em 1.5em 6em 1.5em;
			}

				#banner h1 {
					font-size: 2.5em;
				}

				#banner p {
					font-size: .9em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 6em 1.5em 4em 1.5em;
			}

		}

/* Footer */

	#footer .inner {
		border-top: 1px solid #dbdbdb;
		padding-top: 3em;
	}

	#footer .copyright {
		color: #bbb;
		font-size: 0.8em;
		margin: 0 0 2em 0;
		padding: 0;
	}

		

	#footer ul.icons li .icon {
		font-size: 0.58em;
	}

	@media screen and (max-width: 736px) {

		#footer .inner {
			padding-top: 2em;
		}

		#footer .copyright {
			-ms-flex-order: 2;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
		}

		#footer ul {
			-ms-flex-order: 1;
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
		}

		#footer .flex {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}

	}